@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: #213547;
  background-color: #ffffff;
}

:root {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}


@layer utilities {
  .pagePadding {
    @apply px-8 sm:px-10 lg:px-16 md:px-12;
  }

  .componentSpacing{
    @apply py-16 md:py-20 lg:py-32;
  }

  .btn{
    @apply rounded-full px-5 py-3;
  }

  .outlinedBtn{
    @apply border-primary border-[1px] text-black  ;
  }

  .elevatedBtn{
    @apply bg-primary text-tertiary border-red-950;
  }

  .textBtn{
    @apply bg-tertiary text-primary;
  }

  .anchor{
    @apply text-gray-700 transition hover:opacity-75 dark:text-gray-200;
  }
}

